@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: Emerald;
    src: url("fonts/emerald-business-font/Emerald.otf");
    src: url("fonts/emerald-business-font/Emerald.ttf");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

*{
    font-family: "Montserrat", sans-serif;
}

p, li{
    color: var(--purple);
    font-size: 15px;
}

:root {
    --green : #8EAD35;
    --blue-light : #06C4FA;
    --purple : #2C3C89;
}

.btn-blue-light {
    background-color: var(--blue-light) !important;
}

.btn-blue-light:hover {
    background-color: #2C3C89 !important;
}

.btn-purple {
    background-color: var(--purple) !important;
    color: white;
}

.btn-purple:hover {
    background-color: #19245d !important;
}


.banner {
    position: relative;
    background-image: url('images/milk-banner.png') !important;
    background-size: cover;
    height: 260px;
    padding: 40px 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--green);
    opacity: 0.5; /* Overlay hitam transparan */
    z-index: 1;
}

/* Agar teks berada di atas overlay */
.banner h1 {
    color: var(--purple);
    position: relative;
    z-index: 2;
}

.btn-green {
    background-color: var(--green);
    color: white;
}

.bg-gradient-green {
    background: rgb(120,148,39);
    background: linear-gradient(0deg, rgba(120,148,39,1) 0%, rgba(142,173,53,1) 86%); 
}

.hero-section {
    background: url('images/new-hero.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-item {
    position: relative;
    padding-left: 30px; /* Beri jarak dari kiri agar tidak bertumpuk */
}

.list-item img {
    position: absolute;
    top: 0;
    left: 0;
}

.list-group-item small {
    color: var(--purple);
}

.text-green {
    color: var(--green);
}

.text-purple {
    color: var(--purple);
}

.text-light-blue {
    color: var(--blue-light);
}


.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.nav-item {
    margin-right: 48px;
}

.nav-item .nav-link {
    color: var(--purple) !important;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
}

.nav-item .nav-link:hover {
    background-color: var(--green) !important;
    border-radius: 20px;
}

.nav-item .nav-link.active {
    font-weight: 700;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-purple {
    background-color: var(--purple) !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-15 {
    font-size: 15px !important;
}
